<section>
  <a name="methods" />
  <header>
    <h2>Methods</h2>
    <ul class="filters">
      <li>
        <select class="filterScope">
          <option value="">All Scopes</option>
        </select>
      </li>
      <li>
        <select class="filterTypes">
          <option value="">All Types</option>
        </select>
      </li>
      <li>
        <select class="filterParameters">
          <option value="">All Parameters</option>
        </select>
      </li>
      <!--
      <li>
        <button>Show Inherited</button>
      </li>
      -->
      <!--
      <li>
        <input type="checkbox" class="abstract" />
        <input type="checkbox" class="static" />
        <input type="checkbox" class="final" />
      </li>
      -->
    </ul>
  </header>
  <ol>
    <% for(i in methods.sort(function(a,b) { return a.name > b.name; } )) { %>
    <% var method = methods[i] %>
    <% var methodName = method.name.split('.').slice(-1)[0] %>
    <li>
      <header class="<%= $.View('//kopidoc/views/class_document/showScope', 
                                                   {public: method.isPublic,
                                                    protected: method.isProtected,
                                                    private: method.isPrivate} )%>">
        <label><%= methodName %></label>
        <span class="describedBy"></span>
        <%= method.comment %>
        <% if(method.isFinal) { %><span class="final"></span> <%}%>
        <% if(method.isAbstract) { %><span class=" abstract"></span> <%}%>
        <% if(method.isStatic) { %><span class="static"></span> <%}%>
      </header>
      <div class="methodSignature">
        <%= $.View('//kopidoc/views/class_document/showType1', {type: method.returnType,
                                                                                                    title: method['@return'],
                                                                                                    cache: false })%>
        <span class="returnedBy"></span>
        <ol class="parameterList">
          <% for(var i in method.parameters) { %>
          <li>
            <%= $.View('//kopidoc/views/class_document/showType1', 
                           {type: method.parameters[i].type , title: null, cache: false  })%>
          </li>
          <%}%>
        </ol>
      </div>
      <ul class="throwList">
        <li><a rel="type" class="type" href="#">UnknownLocationException</a></li>
      </ul>
      <div class="extraInfo">
        <details class="commentBlock">
          <%= method.comment %>
        </details>
        <section>
          <h5>Parameters</h5>
          <ol>
            <li>
              <% for(var i in method.parameters) { %>
              <li>
                <%= $.View('//kopidoc/views/class_document/showType1', 
                {type: method.parameters[i].type , title: null, cache: false  })%>
                <var><%= method.parameters[i].name %></var>
                <span class="describedBy"></span>
                <details class="commentSummary">
                  comment
                </details>
              </li>
              <%}%>
          </ol>
        </section>
        <section>
          <h5>Returns</h5>
          <%= $.View('//kopidoc/views/class_document/showType1', {type: method.returnType,
                                                                                                    title: method['@return'],
                                                                                                    cache: false })%>
          <span class="describedBy"></span>
          <details class="commentSummary">
            <%= method['@return'] %>
          </details>
        </section>
        <section>
          <h5>Throws</h5>
          <ul>
            <li>
              <a rel="type" href="#" class="type">UnknownLocationException</a>
              <span class="describedBy"></span>
              <details class="commentSummary">
                if the location cannot be found
              </details>
            </li>
          </ul>
        </section>
      </div> <!-- .extraInfo -->
    </li>
    <% } %>
  </ol>
</section>
