<section>
  <header>
    <h2>Constructors</h2>
    <ul class="filters">
      <li>
        <select>
          <option>All Scopes</option>
          <option>Public</option>
          <option>Private</option>
          <option>Protected</option>
        </select>
      </li>
      <li>
        <select>
          <option>All Parameters</option>
          <option>String</option>
          <option>Location</option>
        </select>
      </li>
      <li>
        <button>Show Inherited</button>
      </li>
      <li>
        <input type="checkbox" class="abstract" />
        <input type="checkbox" class="static" />
        <input type="checkbox" class="final" />
      </li>
    </ul>
  </header>
  <ol>
    <% for(i in constructors) { %>
    <% var constructor = constructors[i]; %>
    <% var constructorName = constructor.name.split('.').slice(-1)[0] %>
    <li>
      <header class="public">
        <ol class="parameterList">
          <% for(var i in constructor.parameters) { %>
          <li>
            <%= $.View('//kopidoc/views/class_document/showType1', 
                               {type: constructor.parameters[i].type , title: null, cache: false })%>
          </li>
          <%}%>
        </ol>
        <span class="describedBy"></span>
        <%= constructor.comment %>
        <% if(constructor.isFinal) { %><span class="final"></span> <%}%>
      </header>
      <ul class="throwList">
        <li><a rel="type" class="type" href="#">Exception</a></li>
        <li><a rel="type" class="type" href="#">UnknownLocationException</a></li>
      </ul>
      <div class="extraInfo">
        <details class="commentBlock">
          <%= constructor.comment %>
        </details>
        <section>
          <h5>Parameters</h5>
          <ol>
            <% for(var i in constructor.parameters) { %>
            <li>
              <%= $.View('//kopidoc/views/class_document/showType1', 
                                 {type: constructor.parameters[i].type , title: null, cache: false })%>
              <var><%= constructor.parameters[i].name %></var>
              <span class="describedBy"></span>
              <details class="commentSummary">
                <!-- ... -->
              </details>
            </li>
            <%}%>
          </ol>
        </section>
        <section>
          <h5>Throws</h5>
          <ul>
            <li>
              <a rel="type" href="#" class="type">UnknownLocationException</a>
              <span class="describedBy"></span>
              <details class="commentSummary">
                <!-- ... -->
              </details>
            </li>
          </ul>
        </section>
      </div> <!-- .extraInfo -->
    </li>
  </ol>
</section>








<section class="classElementList">
  <div class="classElementHeader">
    <h2><a name="constructors">Constructors</a></h2>
    <div class="classElementOptions">
      <select>
        <option>Any Scope</option>
      </select>
      <select>
        <option>Any Parameter</option>
      </select>
      <input type="checkbox" class="abstract" />
      <input type="checkbox" class="static" />
      <input type="checkbox" class="final" />
    </div>
  </div>
  <ol class="elementList">
    <% for(i in constructors) { %>
    <% var constructor = constructors[i]; %>
    <% var constructorName = constructor.name.split('.').slice(-1)[0] %>
    <li>
      <header>
        <h3 class="constructorName"></h3>
        <ol class="parameters">
        </ol>
        <details open="open" class="commentTerse">
          <summary></summary> 
        </details>
        <% if(constructor.isFinal) { %><span class="qualifier final">final</span> <%}%>
      </header>
      <ul class="throws">
          <!-- ... -->
      </ul>
      <details open="open" class="comment">
        <summary></summary> 
      </details>      
      <section>
        <h4>Parameters</h4>
        <ol class="parameters">
          <% for(var i in constructor.parameters) { %>
          <li>
            <%= $.View('//kopidoc/views/class_document/showType1', 
                                {type: constructor.parameters[i].type , title: null })%>
             <span class="name"><%= constructor.parameters[i].name %></span>
          </li>
          <%}%>
        </ol>
      </section>
      <section>
        <h4>Throws</h4>
        <ol class="throws">
        </ol>
      </section>
    </li>
    <% } %>
  </ol>
</section>
