<div class="method">
  <% var methodName = method.name.split('.').slice(-1)[0] %>
  <header>
     <% if(method.isAbstract) { %><span class="abstract">abstract</span> <%}%>
     <span class="methodName"><%= methodName %></span>
     <span class="type returnType" title="<%= method['@return'] %>"><%= method.returnType %></span>
     <ol class="parameters">
       <% for(var i in method.parameters) { %>
         <li>
           <span class="type"><%= method.parameters[i].type %></span>
           <span class="name"><%= method.parameters[i].name %></span>
         </li>
       <%}%>
     </ol>
  </header>
  <details open="open" class="comment">
    <summary>Comments are not yet sent to me</summary> 
  </details>
</div>