<article>
  <header>
    <span class="packageName"><%= document.packageName %></span>
    <h1><%= document.shortName %></h1>
    <% if( document.superclassType ) { %>
    <h2>extends <%= $.View('//kopidoc/views/class_document/showType', 
                           {type: document.superclassType , title: null })%></h2>
    <%}%>
    <details open="open" class="comment">
      <summary><pre><%= document.comment %></pre></summary>
    </details>
  </header>

  <%= $.View('//kopidoc/views/class_document/showInterfaces',
                      { interfaceTypes: document.interfaceTypes }) %>

  <%= $.View('//kopidoc/views/class_document/showConstructors',
                      { constructors: document.constructors }) %>

  <%= $.View('//kopidoc/views/class_document/showFields',
                      { fields: document.fields }) %>

  <%= $.View('//kopidoc/views/class_document/showMethodList', 
          { methods: document.methods, 
             title: "Public Methods",
             fChoose: function(method) { return method.isPublic; }
           }) %>

  <%= $.View('//kopidoc/views/class_document/showMethodList', 
          { methods: document.methods, 
             title: "Protected Methods",
             fChoose: function(method) { return method.isProtected; }
           }) %>

  <%= $.View('//kopidoc/views/class_document/showMethodList', 
          { methods: document.methods, 
             title: "Private Methods",
             fChoose: function(method) { return method.isPrivate; }
           }) %>


</article>