<div class="method">
  <% var methodName = method.name.split('.').slice(-1)[0] %>
  <header>
    <div class="qualifierList">
      <% if(method.isFinal) { %><span class="qualifier final">final</span> <%}%>
      <% if(method.isAbstract) { %><span class="qualifier abstract">abstract</span> <%}%>
      <% if(method.isStatic) { %><span class="qualifier static">static</span> <%}%>
    </div>
     <span class="returnType">
     <%= $.View('//kopidoc/views/class_document/showType1', {type: method.returnType,
                                                                                                    title: method['@return'] })%>
     </span>
     <span class="methodName"><%= methodName %></span>
     <ol class="parameters">
       <% for(var i in method.parameters) { %>
         <li>
           <%= $.View('//kopidoc/views/class_document/showType1', 
                           {type: method.parameters[i].type , title: null })%>
           <span class="name"><%= method.parameters[i].name %></span>
         </li>
       <%}%>
     </ol>
  </header>
  <details open="open" class="comment">
    <summary><%= method.comment %></summary> 
  </details>
</div>
